body  {
	margin:0;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
}

#game {
	position:absolute;
	left:0;
	top:0;
	font-size:40px;
	width:8em;
	height:12em;
	background-color:rgb(30,30,30);
	font-family:OpenSans, sans-serif;
	color:#ffbf00;
}

#game .background {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:0;
}

#game .background canvas {
	width:100%;
	height:100%;
}

#game .screen {
	position:absolute;
	width:100%;
	height:100%;
	display:none;
	z-index:10;
}

#game .screen.active {
	display:block;
}

#splash-screen {
	text-align:center;
	padding-top:2.5em;
}

#splash-screen .continue {
	cursor:pointer;
	font-size:0.75em;
	display:none;
}

.logo {
	font-family:OpenSansBold;
	font-size:1.5em;
	line-height:1em;
	margin:0 0 0.5em 0;
	text-align:center;
	color:#FF4000;
	text-shadow:0.03em 0.03em 0.06em rgba(255,255,255,0.3),
				-0.03em -0.03em 0.06em rgba(255,255,255,0.3),
				0.1em 0.15em 0.15em rgba(0,0,0,0.3);
}

.no-textshadow .logo {
	filter:dropshadow(color=#000000,offX=3,offY=4);
}

/* Progress bar */
.progress {
	margin:0 auto;
	width:6em;
	height:0.5em;
	border-radius:0.5em;
	overflow:hidden;
	border:1px solid rgba(255,255,255,0.5);
}

.progress .indicator {
	background-color:#ffbf00;
	height:100%;
	width:0%;
}

/* Install screen for iOS devices */
#install-screen {
	padding-top:0.5em;
	text-align:center;
}
#install-screen span {
	font-size:0.75em;
	display:inline-block;
	padding:0 0.5em;
}

/* Main menu styles */
#main-menu {
	padding-top:0.5em;
}

ul.menu {
	text-align:center;
	padding:0;
	margin:0;
	list-style:none;
}

ul.menu li {
	margin:0.5em 0;
}

ul.menu li button {
	font-family:OpenSansBold, sans-serif;
	font-size:0.58em;
	color:#343434;
	width:10em;
	height:1.8em;
	background:#ffbf00;
	border:0.1em solid rgba(255,255,255,0.2);
	border-radius:0.5em;
	-webkit-box-shadow:0.2em 0.2em 0.3em rgb(0,0,0);
	-moz-box-shadow:0.2em 0.2em 0.3em rgb(0,0,0);
	box-shadow:0.2em 0.2em 0.3em rgb(0,0,0);
}

ul.menu li button:hover {
	background:#886A08;
	color:#ffffff;
}

ul.menu li button:active {
	color:#ffffff;
	background:#886A08;
}

.block-size {
	font-size:40px;
}

#block-proto {
	position:absolute;
	width:1em;
	height:1em;
	left:-1000px;
}

#game-screen .game-board {
	position:relative;
	width:8em;
	height:8em;
	-webkit-perspective:16em;
}

#game-screen .game-board .board-bg,
#game-screen .game-board .board {
	position:absolute;
	width:100%;
	height:100%;
}

#game-screen .game-board .board {
	z-index:10;
}

#game-screen .game-board .board-bg {
	z-index:0;
}

#game-screen .game-board .dom-container {
	position:absolute;
	width:100%;
	height:100%;
}

#game-screen .game-board .dom-container .block {
	position:absolute;
	width:1em;
	height:1em;
	overflow:hidden;
}

#game-screen .game-board .board-bg {
	background-image:linear-gradient(
		45deg, rgba(255,255,255,0.15) 25%,
		transparent 25%, transparent 75%,
		rgba(255,255,255,0.15) 75%, rgba(255,255,255,0.15)
	),
	-webkit-linear-gradient(
		45deg, rgba(255,255,255,0.15) 25%,
		transparent 25%, transparent 75%,
		rgba(255,255,255,0.15) 75%, rgba(255,255,255,0.15)
	);	
	background-size:2em 2em;
	background-position:0 0, 1em 1em;
}

#game-screen .game-board .board-bg div {
	position:absolute;
	width:1em;
	height:1em;
	background-color:rgba(225,235,255,0.15);
}

/* Game Screen - Game State */
#game-screen .game-info {
	width:100%;
	float:left;
}

#game-screen .game-info label {
	display:inline-block;
	height:1.5em;
	float:left;
	font-size:0.6em;
	padding:0.25em;
}

#game-screen .game-info .score {
	float:right;
}

#game-screen .time {
	height:0.25em;
	border-radius:0.5em;
}

#game-screen .time .indicator {
	width:100%;
}

/* Game screen - footer */
#game-screen footer {
	display:block;
	position:absolute;
	bottom:0;
	height:1.25em;
	width:100%;
	padding-bottom:0.7em;
	text-align:center;
}
.screen footer button {
	padding:0 0.75em;
	font-family:OpenSans;
	font-size:0.5em;
	color:#ffbf00;
	background:rgb(10,20,0);
	border:1px solid #ffbf00;
	border-radius:0.2em;
}

/* Game screen - pause overlay */
#game-screen .pause-overlay {
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:100;
	background-color:rgba(40,40,40,0.5);
}

/* Game screen - announcement */
#game-screen .announcement {
	position:absolute;
	left:0;
	top:50%;
	margin-top:-0.5em;
	width:100%;
	font-family:OpenSans;
	color:#ffbf00;
	text-shadow:0.03em 0.03em 0.03em rgb(255,255,0),
				-0.03em -0.03em 0.03em rgb(255,255,0),
				0.1em 0.15em 0.15em rgb(0,0,0);
	text-align:center;
	white-space:nowrap;
	z-index:20;
	opacity:0;
	cursor:default;
}

.no-textshadow #game-screen .announcement {
	filter:glow(color=#ffff00,strength=1), dropshadow(color=#000000,offX=3,offY=3);
}

/* Game screen - High score */
#hiscore h2 {
	margin-bottom:0.2em;
	margin-top:0.25em;
	font-size:1.1em;
}
#hiscore ol.score-list {
	font-size:0.6em;
	width:75%;
	margin:0 10%;
}
#hiscore ol.score-list li {
	width:100%;
}
#hiscore ol.score-list li span:nth-child(1) {
	display:inline-block;
	width:70%;
}
#hiscore ol.score-list li span:nth-child(2) {
	display:inline-block;
	width:30%;
	text-align:center;
}
#hiscore footer {
	text-align:center;
}

/* Announcement animation */
/* Keyframe for webkit */
@-webkit-keyframes zoomfade {
	0% {
		opacity:1;
		-webkit-transform:scale(0.5);
	}
	25% {
		opacity:1;
	}
	100% {
		opacity:0;
		-webkit-transform:scale(1.5);
	}
}
/* Keyframe for webkit */
@-moz-keyframes zoomfade {
	0% {
		opacity:1;
		-moz-transform:scale(0.5);
	}
	25% {
		opacity:1;
	}
	100% {
		opacity:0;
		-moz-transform:scale(1.5);
	}
}
/* zoomfade animation class */
.zoomfade {
	-webkit-animation-name:zoomfade;
	-webkit-animation-duration:2s;
	-moz-animation-name:zoomfade;
	-moz-animation-duration:2s;
}

/* Fallback for browsers without CSS animations */
.no-cssanimations #game-screen .announcement {
	display:none;
}

.no-cssanimations #game-screen .announcement.active {
	opacity:1;
	display:block;
}